body
{
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(174,246,199);
    background-color: rgb(62,98,89);
    
    margin-right: 80px;
}


h1, h2
{
    text-align: center;
}

footer
{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px; 
}

a
{
    text-decoration: none;
    color: rgb(199,249,250);
}

a:hover
{
    text-decoration:underline;
}

figure
{
    text-align: center;
}

/*styling for the table goes here*/
body
{
	width: 750px;
	margin: 0 auto;
}

table
{
	border-collapse: collapse;
	
	margin: 20px;
}

thead
{
	background-color: rgb(34, 87, 122);
}

th, td
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}

.right
{
	text-align: right;
}

tbody tr:nth-child(odd) td
{
	background-color: rgb(41, 148, 150);
}

.button
{
    background-color: rgb(50, 41, 47);
    color: rgb(153, 225, 217);
}

.center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row
{
    display: flex;
    flex-direction: row;
}
